/problematicas/Problema 1/nbproject/private/
/problematicas/Problema 1/build/
/problematicas/Problema 1/Problema1/nbproject/private/
/problematicas/Problema 1/Problema1/build/
/problematicas/Problema 2/Problema 2/nbproject/private/
/problematicas/Problema 2/Problema 2/build/
/problematicas/Problema 3/Problema 3/nbproject/private/
/problematicas/Problema 3/Problema 3/build/
/problematicas/Problema 4/Problema 4/nbproject/private/
/problematicas/Problema 4/Problema 4/build/
/problematicas/Problema 5/Problema 5/nbproject/private/
/problematicas/Problema 5/Problema 5/build/
